.font-family-size {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.center-align {
    text-align: center;
}

.line-height {
    line-height: 1.5;
}

.letter-spacing {
    letter-spacing: 2px;
}

.text-shadow {
    text-shadow: 2px 2px 10px grey;
}